DEBUG=True
SECRET_KEY=change-me-to-a-random-string

DB_NAME=shop_admin
DB_USER=shop_admin
DB_PASSWORD=changeme
DB_HOST=db
DB_PORT=5432

REDIS_URL=redis://redis:6379/0
PUBLIC_MEDIA_BASE_URL=https://shop.kkode.site
